<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Pagina principal-->
    <add key="Url" value="http://csd31101.distriluz.com.pe/OficinaVirtual/Suministro/MiPago"/>
    <!--Datos de la tarjeta-->
    <add key="Number" value="5160–0300–0000–0317"/>
    <add key="Expity" value="0923"/>
    <add key="CVC" value="111"/>
    <add key="Name" value="Edwin"/>
    <add key="LastName" value="Delgado"/>
    <add key="Email" value="edwindelgadoc@hotmail.com"/>
  </appSettings>
</configuration>
